---
layout: default
---

<!-- about.html -->
      <div class="post">

        <article>
          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Honors -->
          {% if page.honors -%}
            <h2><a href="#honors" style="color: inherit;">Selected Honors & Awards</a></h2>
            {%- include honors.html %}
          {%- endif %}

          <!-- Professional Services -->
          {% if page.services -%}
            <h2><a href="#services" style="color: inherit;">Recent Professional Services</a></h2>
            {%- include services.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
